body{
	margin-top: 0px;
}
.calendar{
	margin-top: 40px;
	border: 3px solid black;
	width: 60%;
}
.calendar tr{
    height: 100px;
}
.calendar td{
    width: 14%;
	vertical-align: top;
	font-size: 20pt;
}
.calendar td p{
	margin: 0;
	top: 0;
}
.weekday{
	text-align: center;
	font-weight: bold;
	font-size: large;
	height: 10%;
	background-color: orange;
}
.addEventButton{
	text-align: center;
	background-color: #cccccc;
	padding-top: 35px;
}
#monthTitle{
	text-align: left;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: -40px;
	margin-left: 400px;
}
#prevmonth{
	float: left;
	padding: 4px;
	font-weight: bold;
	font-size: 25px;
}
#nextmonth{
	float: left;
	padding: 4px;
	font-weight: bold;
	font-size: 25px;
}
.isCurrentMonth{
	font-weight: bold;
	font-family: impact;
	background-color: lightblue;
}
.notCurrentMonth{
	background-color: brown;
}
#addEventPopUp, #loginPopUp,#regPopUp, #editEventPopUp{
	position: fixed;
	width: 25%;
	top: 33%;
	left: 33%;
	display: none;
	background-color: grey;
	border-radius: .25em;
	padding: 10px 15px;
}
#welcome, #welcome2{
	float: right;
	margin-right: 750px;
}
#loginButton{
	float: right;
	margin-right: 750px;
}
#logoutButton{
	float: right;
	margin-right: 750px;
}
#reg{
	float: right;
	margin-right: 750px;
}
#registerButton{
	float: left;	
}

.calOptionsHome{
	display: inline-block;
}
.calOptionsPopUp{
	display: inline-block;
}